ul {
	display: flex;
	flex-wrap: wrap;
	background-color: purple;
	align-items: center;
	margin: 0 5vw 0 5vw;
	min-height: 50px;
	min-width: 50vw;
	text-align: center;
	justify-content: space-evenly;
	list-style: none;
	flex: 0 0 auto;
	border-radius: 25px;
}
li {
	color: white;
	align-items: center;
	text-align: center;
	padding: 2em;
	min-height: 20px;
	margin: 0px auto;
}

a:hover {
	background-color: tomato;
}
a {
	text-decoration: none;
}

h1 {
	text-align: center;
	color: white;
}

body {
	background-color: tomato;
		font-family: sans-serif;
		height: 100%;
		
}

.content {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
	margin-right: 5vw;
	flex-wrap: wrap;
	margin: 0 5vw 0 5vw;
}

button {
	background-color: white;
	font-size: 14px;
	color: black;
	border-radius: 25px;

}

img {
	opacity: 0.6;
	max-width:40vw;
	margin-top: 1em;
	border-radius: 5px;
	width: 100%;
	height: auto;

}

.popup {
	background-color: tomato;
	display: none;
	color: white;
	margin-top: 1em;
	text-align: justify;
	max-width: 73vw;
}

.visible {
	display: block;
	align-items: center;
}

p {
	color: white;
	text-align: justify;
	width: 45vw;
}

.about {
	display: flex;
	margin: 5vh 5vw 0 5vw;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
	
}

.content_common {
	min-height: calc(100vh - 80px);
}

#map {
	width: 40vw;
	height: 300px;
	background-color: grey;
	border-radius: 10px;
	opacity: 0.8;
	flex: 1 1 10wv;
	margin-bottom: 2vh;
}

.footer {
	display: flex;
	flex-wrap: wrap;
	background-color: purple;
	height: 80px;
	border-radius: 15px;
	color: white;
	align-items: center;
	text-align: center;
}

.p1 {
	margin-left: 5vw;
	flex: 1 1 10wv;
	color: white;
	text-align: justify;
}

.p2 {
	color: white;
	text-align: justify;
	width: 45vw;
}

@font-face {
	font-family: "Open Sans";
src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
	url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}
@media screen and (max-width:500px) { 
		body {
			max-width: 10px;
			width: 10px;
			height: 10px;
		}
		.content_common {
			max-width: 10px;
			width: 10px;
		}
		.content {
			max-width: 10px;
			width: 10px;
			display: block;
		}
		.about {
			max-width: 100%;
			width: 100%;
		flex: 0 0 100%;
		margin-left: 3vw;
		align-items: center;
		}
		.p1 {
			max-width: 10px;
			width: 10px;
			flex: 1 1 33.33%;
			max-width: 33.33%;
		}
		.p2 {
			max-width: 100%;
			width: 100%;
			flex: 1 1 100%;
		}
		img {
			flex-wrap: wrap;
			max-width: 200px;
			width: 30vw;
			height: auto;
		}
		ul {
		max-width: 100vw;
		display: flex;
		justify-content: flex-start;
		}
		li {

		}
		#map {
			flex: 0 0 0%;
			display: none;
		}
	
	}

	@media screen and (max-width:1024px) { 
		body {
			max-width: 100vw;
			width: 700px;
			height: auto;
		}
		.content_common {
			max-width: 100%;
			width: 100%;
		}
		.content {
			max-width: 100%;
			width: 100%;
		justify-content: space-around;
		}
		.about {
			max-width: 100%;
			width: 100%;
		flex: 1 1 50%;
		justify-content: space-around;
		}
		.p1 {
			max-width: 10px;
			width: 10px;
			flex: 1 1 33.33%;
			max-width: 33.33%;
		}
		.p2 {
			max-width: 100%;
			width: 100%;
			flex: 1 1 100%;
			margin-left: 1vw;
		}
		img {
			flex-wrap: wrap;
			max-width: 200px;
			width: 30vw;
			height: auto;
		}
		ul {
	width: 700px;
	margin: auto;
    padding: inherit;
		}
		li {
			padding: auto;
			margin: auto;
		}
		#map {
			flex: 1 1 100%;
			max-width: 100%;
		}
		.popup {
			background-color: tomato;
			color: white;
			align-items: center;
			margin-top: 1em;
			text-align: justify;
			max-width: 550px;
	
	}